<mat-table #table
           aria-label="Elements"
           [attr.title]=""
           [dataSource]="_dsHandler">

  <ng-container *ngFor="let columnName of _columnNames"
                [matColumnDef]="columnName">
    <mat-header-cell *matHeaderCellDef>{{ columns[columnName] }}</mat-header-cell>
    <mat-cell *matCellDef="let row"><span [innerText]="row[columnName]"></span></mat-cell>
  </ng-container>

  <ng-container matColumnDef="_crud_controls_">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button
              matTooltip="Edit"
              (click)="onUpdate(row.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button
              matTooltip="Delete"
              (click)="onDelete(row.id)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="_columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let row; columns: _columnsToDisplay;"></mat-row>
</mat-table>

<ng-template [ngIf]="_dsHandler">
  <div *ngIf="_dsHandler.loading$ | async"
       class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<mat-paginator #paginator
               [length]="0"
               [pageIndex]="0"
               [pageSize]="10"
               [pageSizeOptions]="[]">
</mat-paginator>
