:host {
  // Styles for the host element

  /deep/ mat-card {
    margin: 0 0 10px 0;

    mat-card-header {
      .mat-card-header-text {
        width: 100%;
        margin-left: 0 !important;
      }

      button {
        float: right;
      }
    }

    mat-card-content {
      clear: both;
      padding-top: 8px;
    }
  }
}
