<h2 mat-dialog-title>Please fill the form</h2>

<mat-dialog-content>
  <perfect-scrollbar class="form-container">

    <formly-form [form]="_formGroup"
                 [fields]="_formlyFields"
                 [model]="_model">
    </formly-form>

  </perfect-scrollbar>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button
          color="primary"
          (click)="onSave()">
    Ok
  </button>
  <button mat-button
          (click)="closeDialog()">
    Cancel
  </button>
</mat-dialog-actions>
