:host {
  // Styles for the host element

  /deep/ mat-card {
    margin: 0 0 2px 0;
    width: 98%;

    .big-icon {
      padding: 5px 0;
      text-align: center;

      mat-icon {
        font-size: 84px;
        width: 84px;
        height: 84px;
      }
    }
  }
}
